.layout {
  min-height: 100vh;
  background: var(--color-white);
}

.main-content {
  padding-top: 72px; 
  min-height: 100vh;
}


@media (max-width: 768px) {
  .main-content {
    padding-top: 64px; 
  }
}
